@import "@/assets/scss/global/vars";
@import "@/assets/scss/global/mixins";

.locales {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	@include _768 {
    flex-direction: column;
    align-items: center;
	}
	
	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 16px;
		line-height: 130%;
		color: $color-dark;
		
		&:hover {
			color: $color-green-hover;
		}
		
		@include _768 {
			margin-bottom: 30px;
		}
		
		img {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}
	}
}