@import "@/assets/scss/global/vars";
@import "@/assets/scss/global/mixins";

.links {
	padding: 60px 0;
	background-color: $color-green-light;
	
	&-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
		@include _768 {
			grid-template-columns: repeat(2, 1fr);
	    grid-row-gap: 30px;
		}
		
		@include _640 {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	
	&-box {
		padding:0 0 0 30px;
		height: 100%;
		border-left: 1px solid $color-white;
		
		&:first-child {
			padding: 0;
			border-left: 0;
		}
		
		@include _768 {
			&:last-child {
				padding: 0;
				border-left: 0;
			}
		}
		
		@include _640 {
			padding: 0;
			border-left: 0;
		}
	}
	
	&-title {
		font-size: 18px;
		color: $color-green;
	}
	
	ul {
		margin: 5px 0 0 -2px;
		padding: 0;
		list-style-type: none;
		line-height: 200%;
		
		li {
			position: relative;
			padding: 0;
			
			a {
				display: inline-flex;
				align-items: flex-start;
				
				span {
					display: inline-block;
					font-size: 12px;
					position: relative;
					transform: rotate(-90deg);
					padding: 0 12px 5px 0;
					color: $color-green;
				}
			}
		}
	}
	
	
}