.git
.gitignore
.env
.env.*
!.env.example
!.env.docker.example
vendor
node_modules
src/api/vendor
src/front/node_modules
src/front/.nuxt
src/front/dist
src/nuxt4/.nuxt
src/nuxt4/.output
src/api/storage/logs
src/api/storage/framework/cache/data
src/api/storage/framework/sessions
src/api/storage/framework/views
.docker/volumes
/.docker/volumes
