@import "@/assets/scss/global/vars";
@import "@/assets/scss/global/mixins";

.article {
	
	@include _768 {
		margin-top: -30px;
	}
	
	&__img {
		@include _1024 {
			margin-left: -30px;	
			width: calc(100% + 60px);
		}	
		@include _768 {
			margin-left: -15px;	
			width: calc(100% + 30px);
		}
	}
	
	&__inner {
		width: 66%;
		margin: 70px auto 100px auto;
		
		@include _1024 {
			width: 100%;
			margin: 50px auto 70px auto;
		}
		
		@include _768 {
			margin: 40px auto 50px auto;
		}
	}
	
	&__content {
		margin: 40px 0 0 0;
		font-size: 16px;
		line-height: 160%;
		
		
		@include _768 {
			margin: 20px 0 0 0;
		}
	}
	
	.articles {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 100px;
    
    .article {
	    margin-top: 0;
    }
    
    @include _1024 {
	   	grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
	    grid-row-gap: 20px;
    }
    
    @include _768 {
	   	grid-template-columns: 1fr;
			grid-gap: 15px;
	    grid-row-gap: 15px;
    }
    
    &-title {
	    margin-bottom: 30px;
	    color: $color-black;
	    font-size: 24px;
    }
	}
	
}