@import "@/assets/scss/global/vars";
@import "@/assets/scss/global/mixins";

.blog {
	
	.articles {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
    grid-row-gap: 30px;
    
    @include _1024 {
	   	grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
	    grid-row-gap: 20px;
    }
    
    @include _768 {
	   	grid-template-columns: 1fr;
			grid-gap: 15px;
	    grid-row-gap: 15px;
    }
	}
}